# Radiosonde Launch Strategy Experiment  (Stokes)
# Set user, account, queue information
USER=wx20xs
GROUP=devonprod
SETGROUP=
ACCOUNT=GDAS-T20
CUE2RUN1=1
#CUE2RUN=dev


# Set experiment stop point
EDATE=2008030100


# Set experiment tag, resolution, and related parameters
PSLOT=prep
EXPDIR=prep
DELTIM=180


# Specify which GFS analyses and forecasts to run along
# with related parameters (vertical coordinate, and
# GFS forecast parameters)



# Specify directories and retention duration
DATATMP='/ptmp/$LOGNAME/datatmp/$PSLOT$CDATE$CDUMP$CSTEP'
COMDMP='/global/shared/dump/$CDATE/${CDUMP},/global/shared/dump/$CDATE/${CDUMP}x'
COMCOP='/global/shared/dump/$CDATE/${CDUMP},/global/shared/dump/$CDATE/${CDUMP}x'
COMROT=/u/wx20xs/nbns/$EXPDIR
COMDAY=/u/wx20xs/nbns/$EXPDIR
ARCDIR=/u/wx20xs/home/archive/$EXPDIR

# Specify script directories, file control list, and runlog
SHDIR=/u/wx20xs/home/gsiqc3/bin
JOBSPARA=/u/wx20xs/home/gsiqc3/scripts

RUNLOG=/u/wx20xs/home/gsiqc3/scripts/$EXPDIR.runlog


NCP=/u/wx20mi/bin/ncpx
NTHREADS=1
XLSMPOPTS="parthds=1:spins=0:yields=0:stack=128000000"
export SPINLOOPTIME=500
export YIELDLOOPTIME=500
export AIXTHREAD_SCOPE=S
export MALLOCMULTIHEAP=true
export MP_SHARED_MEMORY=yes
export MEMORY_AFFINITY=MCM
export MP_USE_BULK_XFER=yes
export MP_LABELIO=yes
XLFRTEOPTS="nlwidth=80"






